@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --paragraphs-font: "Roboto", sans-serif;
    --heading-font: "Playfair Display", sans-serif;
    /*--test-font: "Kalam", "sans-serif";*/
    --primary-color: rgb(223, 191, 49);
    --secondary-color: rgb(211, 101, 38);
    --optional-color: #000000;
    --optional-1-color: #6b6d65;

}

/*-----upper-------*/
header {
    display: flex;
    background: linear-gradient(to bottom, rgb(223, 191, 49), rgb(211, 101, 38));
    align-items: center;
    justify-content: center;
    margin-bottom: -5px;
    color: rgb(0, 0, 0);
}

header>div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: blue;
    text-decoration: underline;
}

#logo,
#logo-footer {
    border-radius: 50px;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    box-shadow: -5px 5px 10px black;
}

h1 {
    text-align: center;
    font-family: var(--heading-font);
    margin: 0 auto;
    font-size: 1.5em;
}

header p {
    font-family: var(--heading-font);
    font-size: .6em;
    margin: 0 auto;
}

/*---------------------*/

#my-button {
    position: absolute;
    top: 1.4rem;
    left: 1rem;
    background: var(--secondary-color);
    height: 50px;
}

#my-button::before {
    content: "☰";
    color: white;
}

#my-button.open::before {
    content: "X";
    color: white;
}

/*------------------*/

.navigation {
    /*margin-top: -5px;*/
    margin-top: -5px;
    /*new one*/
    display: flex;
    flex-direction: column;
    list-style: none;
    max-width: 100%;
    background: linear-gradient(to top, rgb(223, 191, 49), rgb(211, 101, 38));
    padding-top: 1px;
    padding-bottom: 1px;
    justify-content: center;
    display: none;
    text-align: center;
    font-family: var(--paragraphs-font);
}

.navigation p,
.navigation a {
    font-size: 1.2em;
    color: black;
    margin: 5px;
    font-family: var(--paragraphs-font);
    padding: 2px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;

}

.navigation a:hover {
    text-decoration: underline;
}

.navigation.open {
    display: block;
    width: 100%;
}

.active::before {
    content: ">> ";

}

.active::after {
    content: " <<";
}

/*---------------*/


main {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;

}

main p {
    font-family: var(--paragraphs-font);
    font-size: 1.3em;
}

.social-footer {
    display: flex;
    justify-content: center;
}

.social-header {
    display: none;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 20em;
}

.social-icon {
    padding: 15px;
    width: 50px;
    height: auto;
}


hr {

    margin-top: 25px;
    width: 100%;
    color: #000;
}

footer {
    background: linear-gradient(to bottom, rgb(223, 191, 49), rgb(211, 101, 38));
    margin-top: 20px;
    padding: 1rem;
    align-items: center;
    font-family: var(--paragraphs-font);
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer p {
    font-family: var(--paragraphs-font);
    font-size: 1.2em;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contact-info p {
    margin-top: -10px;
}

#logo-footer {
    align-items: center;

}

.logo-section-footer {
    margin-top: -10px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-section-footer h1,
.logo-section-footer p {
    color: #000;
    margin: 0 auto;
}

.logo-section-footer h1 {
    font-size: 1.5em;
}

.logo-section-footer p {
    font-size: .9em;
}





/*------------GRIDS--------------*/
.one {
    display: grid;
    gap: 25px;
    grid-auto-rows: auto;
    justify-items: center;
}

/*info*/

.info p {
    padding: 10px;
}

.info a {
    color: black;
    margin: 0 auto;
    text-decoration: none;
}

.info a:hover {
    color: blue;
    text-decoration: underline;
}

.dark-mode .info a {
    color: white;

}

.dark-mode .info a:hover {
    text-decoration: underline;
    text-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--primary-color), 0 0 15px black;
}

.info {
    max-width: 70%;
    margin: auto 0;
    border: 1px solid black;
    border-radius: 5px;
    place-items: center;
    height: auto;
}

.weather-condition {
    border-radius: 5px;
    width: 70%;
    max-width: 70%;
    border: 1px solid #000;
    margin-bottom: 20px;
    margin: auto auto;
    height: auto;
    align-items: center;
}

.info h2,
.weather-condition h2 {
    background-color: var(--secondary-color);
    font-size: 1.5em;
    font-family: var(--heading-font);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 15px;
    margin: 0 auto;
}

.two {
    font-family: var(--paragraphs-font);
    font-size: 1em;
    border: 2px solid black;
    border-radius: 5px;
    width: 90%;
    margin: auto 15px;
}

.two h3 {
    background-color: var(--secondary-color);
    font-size: 2em;
    font-family: var(--heading-font);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 15px;

}

.two img {
    width: 80%;
    height: auto;
    border-radius: 25px;
}



/*Dark mode*/


.dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.dark-mode body {
    background-color: #000;
    color: #fff;
}

.dark-mode main {
    background-color: #000;
}


.getting-dark {
    flex-grow: 1;
    position: absolute;
    top: 2rem;
    right: .5rem;
}

.dark-mode .info,
.dark-mode .weather-condition,
.dark-mode .two {
    border: 1px solid rgb(175, 170, 170);
    /*
    background-color: #153aa0a4;*/
}


/*Hero*/

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content-hero {
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top, rgb(223, 191, 49), rgb(211, 101, 38));
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--paragraphs-font);
    margin: 0 auto;
    width: 40%;
}

.content-hero a {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: rgb(0, 0, 0);
}

.content-hero a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.content-hero a {
    padding-right: 25px;
    padding-left: 25px;
}

.content-hero:hover a:after {
    opacity: 1;
    right: 0;
}


.message {
    position: sticky;
}

/*------------Second page-------------*/
.the-rent {
    font-family: var(--heading-font);
    font-size: 2em;
    text-align: center;
}

#rentalsTable {
    border-collapse: collapse;
    width: auto;
    margin: 55px auto;

}

#rentalsTable img {
    border-radius: 10%;
    width: 200px;
    height: auto;
    padding-top: 10px;
}

#rentalsTable img:hover {
    transform: scale(1.1);
}

td {
    border: 1px solid black;
    margin: 0 auto;
    padding: 0 0;
}

.dark-mode th,
.dark-mode td {
    border: 1px solid white;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.dark-mode tbody tr:nth-child(odd) {
    background-color: black;
}

thead th {
    background-color: white;
    color: black;
    padding: 5px;
    border: 1px solid black;
}


.dark-mode thead th {
    background-color: black;
    color: white;
}


.dark-mode thead th:not(:first-child):nth-last-child(-n+3) {
    background-color: black;
}

table p {
    text-align: center;
}

th {
    font-size: small;
}


/*reservation 3rd page*/
.letsgo {
    font-size: 2em;
    font-family: var(--heading-font);

}

.TC {
    text-align: center;
    font-family: var(--heading-font);
}

li {
    text-align: left;
    margin: 15px auto;
    font-size: 1em;
    font-family: var(--paragraphs-font);
}

.termns {
    border: 1px solid black;
    border-radius: 25px;
    margin: 0 auto;
    width: 80%;
    list-style: numeric;
}

.dark-mode .termns {
    border: 1px solid white;
}


.first-form {
    margin: 0 auto;
    width: 100%;
}

.first-form label {
    padding: 10px;
    display: block;
    font-size: 1em;
    font-family: var(--paragraphs-font);

}

.first-form legend {
    font-family: var(--heading-font);
    font-size: 1.3em;
    margin: 0 auto;
}

.first-form fieldset {
    border-radius: 5px;
    margin: 2rem auto;
    width: 70%;

}

.first-form input[type="text"],
.first-form input[type="tel"],
.first-form input[type="email"],
.first-form textarea {
    display: block;
    border: solid 1px black;
    border-radius: 6px;
    padding: .75rem;
    width: 90%;
    max-width: 400px;
    appearance: none;
    margin-bottom: 15px;
    margin: 0 auto;
}

.dark-mode .first-form input[type="text"],
.dark-mode .first-form input[type="tel"],
.dark-mode .first-form input[type="email"],
.dark-mode .first-form input[type="number"],
.dark-mode .first-form input[type="date"],
.dark-mode textarea {
    background-color: black;
    border: solid 1px white;
    color: white;

}

.first-form button[type="submit"] {
    display: block;
    margin: 1rem auto;
    border-radius: 6px;
    padding: 1rem;
    width: 70%;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.dark-mode .first-form button[type="submit"] {
    background-color: black;
    color: white;
    border: solid 1px white;
}

.first-form button[type="submit"]:hover {
    background-color: #1c94c4;
    color: white;
}

.dark-mode .first-form button[type="submit"]:hover {
    background-color: #c45f30;
}

.first-form input:required,
.dark-mode .first-form input:required,
.first-form select:required,
.first-form select:required {
    border-left: solid 6px red;
}

.first-form input:required:valid,
.dark-mode .first-form input:required:valid,
.first-form select:required:valid,
.dark-mode .first-form select:required:valid {
    border-left: solid 6px green;
}

.dark-mode .first-form select {
    background-color: black;
    color: white;
}

#feedback {
    padding: 10px;
    display: none;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #dd690ab9;
    width: 60%;
    margin: 0 auto;
}

.dark-mode #feedback {
    border: 1px solid white;
}


/*/////////Last page/////////*/
.locations {
    background-color: var(--secondary-color);
    font-size: 1.5em;
    font-family: var(--heading-font);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 15px;
    margin: 0;
}

.contact-main a {
    color: #000;
    text-decoration: none;
    font-size: 3em;
    padding: 5px;
}

.contact-main {
    max-width: 95%;
    display: grid;
    gap: 20px;

}

.contact-main a:hover {
    transform: scale(1.1);
}

.the-contacts {
    border: 1px solid black;
    margin: 50px auto;

    border-radius: 5px;
}

.dark-mode .the-contacts,
.dark-mode .maps {
    border: 1px solid white;
}

.contact-flex-one,
.contact-flex-two {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}


iframe {
    border-radius: 25px;
    border: 1px solid black;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: auto;
}

.maps {
    border: 1px solid black;
    border-radius: 5px;
    margin: 60px auto;
}

#flex-form h2 {
    font-size: 1.5em;
    font-family: var(--heading-font);
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 50px;
    margin: 0;
}

h3 {
    font-family: var(--heading-font);
}


/*other (page 1 - we offer you section)*/
h4 {
    font-size: 2em;
    font-family: var(--heading-font);
    color: black;
}

.dark-mode h4 {
    color: white;
    text-shadow: 0 0 5px white, 0 0 5px black, 0 0 5px white;
}

/*forecast*/
img {
    max-width: 100%;
}

figure {
    text-align: center;
    font-size: 1.2em;
    font-family: var(--paragraphs-font);
}

figure img {
    border-radius: 25px;
}

#forecast img {
    background-color: #6f52d6;
    border-radius: 25px;
}

.second-header {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 15px;
    background-color: var(--secondary-color);
    font-size: 1.5em;
    font-family: var(--heading-font);
    border-radius: 5px 5px 0 0;
}

/*Highest temperature banner*/
#space {
    position: sticky;
    background: linear-gradient(to bottom, rgb(211, 101, 38), rgb(223, 191, 49));
    color: white;
    top: 0;
    z-index: 1000;
}

#space:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background: rgb(211, 38, 38);
}

.banner-content {
    margin: 0 auto;
    padding: 0;
    width: 60%;
    display: flex;
    align-items: center;
}

.banner-text {
    text-align: center;
    font-size: 1em;
    flex-grow: 1;
    line-height: 1.4;
    font-family: var(--heading-font);
}

.banner-button {
    background: none;
    color: white;
    border: none;
    font-size: 2em;
    cursor: pointer;
}

.banner-button:hover {
    text-shadow: 0 0 5px white, 0 0 5px black, 0 0 5px white;
}

.banner {

    background: linear-gradient(to bottom, rgb(211, 101, 38), rgb(223, 191, 49));
    animation: gradientAnimation .3s infinite alternate;
}

@keyframes gradientAnimation {
    0% {
        background: linear-gradient(to bottom, rgb(211, 101, 38), rgb(223, 191, 49));
    }

    50% {
        background: linear-gradient(rgb(223, 191, 49), rgb(211, 101, 38), rgb(223, 191, 49));
    }

    100% {
        background: linear-gradient(to bottom, rgb(223, 191, 49), rgb(211, 101, 38));
    }
}