@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Noto+Serif:ital,wght@1,600&display=swap');

:root {
    --h-fonts: "Hind Madurai", sans-serif;
    --p-fonts: "Noto Serif", sans-serif;
    --main-color: #2e29bb;
    --second-color: rgb(218, 195, 195);
}

body {
    margin: 0;
}


main {
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

header {
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    background: linear-gradient(to top, var(--main-color), black);
    font-family: var(--h-fonts);
    max-width: 100%;
    text-align: center;
    font-size: 1.3em;
}

h2 {

    font-family: var(--h-fonts);
}

header p {
    margin-top: -25px;
    padding-bottom: 20px;
    font-size: 1.7em;
    font-family: var(--h-fonts);
}

h2 {
    background: linear-gradient(to bottom, var(--main-color), black);
    font-size: 1.5em;
    font-family: var(--h-fonts);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 15px;
}

.card {
    text-align: center;
    border-radius: 5px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #000;
    background: var(--second-color);
    font-family: var(--p-fonts);
}

.card p {
    padding: 10px;
    font-size: 1.2em;
    color: black;
}

.card img {
    margin-top: -20px;
    height: auto;
    max-width: 90%;
    border-radius: 10px;
}

.card a {
    text-decoration: none;
    color: black;
}

.card a:hover {
    text-decoration: underline;
    color: var(--main-color);
}

#to-top {
    background: linear-gradient(to top, var(--main-color), black);
}

footer {
    margin-top: 20px;
    padding: 1rem;
    align-items: center;
    font-family: var(--p-fonts);
    background: linear-gradient(to bottom, var(--main-color), black);
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}




@media screen and (max-width: 599px) {
    main {
        grid-template-columns: 1fr;
    }

    .card {
        width: 80%;
        max-width: 100%;
        grid-column: auto;
        margin: 0 auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        max-width: 100%;
        grid-column: auto;
        margin: 0 auto;
    }


    .card:nth-child(3) {
        grid-column: span 2;
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}