@media screen and (max-width: 599px) {
    main {
        grid-template-columns: 1fr;
    }

    .card {
        width: 80%;
        max-width: 100%;
        grid-column: auto;
        margin: 0 auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        max-width: 100%;
        grid-column: auto;
        margin: 0 auto;
    }


    .card:nth-child(3) {
        grid-column: span 2;
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}




/*Having it in a different file got me the query buggy*/