@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@500&display=swap');

:root {
    --paragraphs-font: "Roboto", sans-serif;
    --heading-font: "Playfair Display", sans-serif;
    /*--test-font: "Kalam", "sans-serif";*/
    --primary-color: rgb(71, 72, 73);
    --secondary-color: #000000;
    --optional-color: #6b6d65;

}

/*-----upper-------*/
header {
    display: flex;
    background: linear-gradient(to top, rgba(71, 72, 73, 1), rgba(0, 0, 0, 1));
    ;
    margin-bottom: -5px;
    color: white;
}

#logo {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

h1 {
    font-family: var(--heading-font);
    margin-bottom: -15px;
    margin-left: 15px;
    margin-top: 30px;

}

header p {
    font-family: var(--heading-font);
    font-size: 1.1em;
}


#hero-img {
    width: 100%;
    max-width: 100%;
    height: 250px;
    object-fit: cover;


}

#hero-container {
    background-color: var(--primary-color);
    position: relative;

}

/*---------------------*/
#my-other-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--optional-color);
    color: white;
    margin-top: -150px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--paragraphs-font);
    transition: all 0.5s;
    text-shadow: 0 0 5px white, 0 0 5px black, 0 0 5px white;
}

#my-other-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#my-other-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#my-other-button:hover span {
    padding-right: 25px;
}

#my-other-button:hover span:after {
    opacity: 1;
    right: 0;
}


/*------------------------*/
#my-button {
    margin-top: 20px;
    position: absolute;
    top: 2rem;
    right: 1rem;
    background: #747a7a;
    height: 50px;
}

#my-button::before {
    content: "☰";
    color: white;
}

#my-button.open::before {
    content: "X";
    color: white;
}

/*------------------*/


.navigation {
    /*margin-top: -5px;*/
    margin-top: -5px;
    /*new one*/
    display: flex;
    flex-direction: column;
    list-style: none;
    max-width: 100%;
    background: linear-gradient(to bottom, rgba(71, 72, 73, 1), rgba(0, 0, 0, 1));
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    justify-content: center;
    display: none;
    text-align: center;
    font-family: var(--paragraphs-font);
}

.navigation p,
.navigation a {
    font-size: 1.2em;
    color: white;
    margin: 5px;
    font-family: var(--paragraphs-font);
    padding: 2px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;

}

.navigation a:hover {
    text-decoration: underline;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px black;
}

.navigation.open {
    display: block;
    width: 100%;
}


.active::before {
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px black;
    content: ">";

}

.active {
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px black;
}

/*---------------*/


main {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;

}

main p {
    font-family: var(--paragraphs-font);
    font-size: 1.3em;
}


.card-1 {
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    border: 1px solid #000;
    margin-bottom: 20px;
    place-items: center;
}

.card-1 h2 {
    background-color: var(--primary-color);
    font-size: 1.5em;
    font-family: var(--heading-font);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 15px;

}

.welcome {
    border-radius: 5px;
    width: 100%;
    max-width: 60%;
    border: 1px solid #000;
    margin-bottom: 20px;
    place-items: center;
    margin: 0 auto;
}

.welcome h2 {
    background-color: var(--primary-color);
    font-size: 1.5em;
    font-family: var(--heading-font);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 15px;
    margin: 0 auto;
}



footer {
    background: linear-gradient(to bottom, rgba(71, 72, 73, 1), rgba(0, 0, 0, 1));
    ;
    color: white;
    margin-top: 20px;
    padding: 1rem;
    align-items: center;
    font-family: var(--paragraphs-font);
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer p {
    font-family: var(--paragraphs-font);
    font-size: 1.2em;
    margin-bottom: 20px;
}

.social img {
    padding-top: 15px;
    width: 50px;
    height: auto;
}


hr {
    margin-top: 25px;
    width: 100%;
    color: #000;
}



/*------------GRIDS--------------*/
.one {
    display: grid;
    gap: 15px;
}

.two {
    display: grid;

}

.three {
    display: grid;
    gap: 10px;
    margin: 0 auto;
}


.card-2 {
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    place-items: center;
}

.card-2 h2 {
    background: var(--primary-color);
    font-size: 1.5em;
    font-family: var(--heading-font);
    border-radius: 50px;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 15px;

}


.mini-card-1,
.mini-card-2 {
    border-radius: 5px;
    width: 80%;
    max-width: 100%;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.mini-card-1 h3,
.mini-card-2 h3 {
    margin: 0 auto;
    background-color: var(--primary-color);
    font-size: 1.5em;
    font-family: var(--heading-font);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 15px;

}


.dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee;
}




.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.dark-mode body {
    background-color: #000;
    color: #fff;
}

.dark-mode main {
    background-color: #000;
}


.getting-dark {

    position: absolute;
    top: .5rem;
    right: .5rem;

}


.dark-mode .card-1,
.dark-mode .welcome,
.dark-mode .card-1,
.dark-mode .mini-card-1,
.dark-mode .mini-card-2,
.dark-mode .gallery,
.dark-mode .card-1-1 {
    border: 1px solid rgb(175, 170, 170);
}




.hero {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}

.hero img {
    width: 100%;
    height: auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: block;
    margin: 0 auto;
}


/*-------------------------*/


.main-discover {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    display: grid;
    gap: 10px;
}

.main-discover p {
    font-family: var(--paragraphs-font);
    font-size: 1.3em;
}

h4 {
    text-align: center;
    font-size: 1.6em;
    font-family: var(--heading-font);
}

.gallery {
    align-content: center;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    border: 1px solid #000;
    margin-bottom: 20px;
    place-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.gallery img {
    width: 85%;
    height: auto;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 auto;
    padding-top: 50px;
}

.gallery figure {
    position: relative;
    margin: 0;
    overflow: hidden;
}

.gallery figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    margin: 0;
    font-family: var(--heading-font);
    transition: opacity 0.3s ease;
}

picture {
    padding: 0;
    margin: 0 auto;
}

.space {
    padding-bottom: 50px;
}

.card-1-1 img {
    width: 80%;
    height: auto;
}

.card-1-1 {
    border-radius: 5px;
    width: 80%;
    max-width: 100%;
    border: 1px solid #000;
    place-items: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.card-1-1 h2 {
    background-color: var(--primary-color);
    font-size: 1.5em;
    font-family: var(--heading-font);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 15px;

}

.hrv2 {
    margin-top: -20px;
    margin-bottom: 35px;
}

.calendar {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    padding: 5px;
    border: 1px solid #eee;
    text-align: center;
}



.here-link {
    color: #000;
    text-decoration: none;
}

.here-link:hover {
    text-decoration: underline;
    color: blue;
}

.dark-mode .here-link {
    color: white;
    text-decoration: none;
}

.dark-mode .here-link:hover {
    text-decoration: underline;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px black;
}






/*Chamber join part*/

.the-form {
    margin: 0 auto;
    width: 100%;
}

.wf2 label {
    padding: 10px;
    display: block;
    font-size: 1em;
    font-family: var(--paragraphs-font);

}

.wf2 legend {
    font-family: var(--heading-font);
    font-size: 1.3em;
    margin: 0 auto;
}

.wf2 fieldset {
    border-radius: 5px;
    margin: 2rem auto;
    width: 70%;

}

.wf2 input[type="text"],
.wf2 input[type="tel"],
.wf2 input[type="email"],
.wf2 textarea {
    display: block;
    border: solid 1px black;
    border-radius: 6px;
    padding: .75rem;
    width: 90%;
    max-width: 400px;
    appearance: none;
    margin-bottom: 15px;
    margin: 0 auto;
}

.dark-mode .wf2 input[type="text"],
.dark-mode .wf2 input[type="tel"],
.dark-mode .wf2 input[type="email"],
.dark-mode textarea {
    background-color: black;
    border: solid 1px white;
    color: white;

}

.wf2 button[type="submit"] {
    display: block;
    margin: 1rem auto;
    border-radius: 6px;
    padding: 1rem;
    width: 70%;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.dark-mode .wf2 button[type="submit"] {
    background-color: black;
    color: white;
    border: solid 1px white;
}

.dark-mode .wf2 button[type="submit"]:hover {
    background-color: #3081c4;
}

.wf2 input:required,
.dark-mode .wf2 input:required {
    border-left: solid 6px red;
}

.wf2 input:required:valid,
.dark-mode .wf2 input:required:valid {
    border-left: solid 6px green;
}



.dark-mode .wf2 select {
    background-color: black;
    color: white;
}


/*table*/

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 0;
    margin-left: -10px;
}

td {
    border: 1px solid black;
    margin: 0 auto;
    padding: 5px;
}


.dark-mode th,
.dark-mode td {
    border: 1px solid white;
}

caption {
    font-weight: bold;
    background-color: #f2f2f2;
    color: black;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid black;
}

.dark-mode caption {
    background-color: black;
    color: white;
    border: 1px solid white;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.dark-mode tbody tr:nth-child(odd) {
    background-color: black;
}

thead th {
    background-color: white;
    color: black;
    padding: 5px;
    border: 1px solid black;
}


.dark-mode thead th {
    background-color: black;
    color: white;
}


.dark-mode thead th:not(:first-child):nth-last-child(-n+3) {
    background-color: black;
}

tbody th {
    font-weight: 200;
    border: 1px solid black;
    font-size: small;
    padding: 10px;

}

table p {
    text-align: center;
}

h2 {
    text-align: center;
}


th {
    font-weight: 200;
    font-size: small;
}

.record {
    margin: 0 auto;
    margin-bottom: 300px;
    margin-top: 200px;
}

h4 {
    font-size: 2em;
    font-family: var(--heading-font);
    color: black;
}

.dark-mode h4 {
    color: white;
    text-shadow: 0 0 5px white, 0 0 5px black, 0 0 5px white;
}


.record p,
.record a {
    font-size: 1em;
    font-family: var(--paragraphs-font);
    color: black;
}

.record a:hover {
    color: blue;
}

.dark-mode .record p,
.dark-mode .record a {
    font-size: 1em;
    font-family: var(--paragraphs-font);
    color: white;
}

.dark-mode .record a:hover {
    text-shadow: 0 0 5px white, 0 0 5px black, 0 0 5px white;
}