@media screen and (min-width: 599px) {
    #hero-img {
        height: 600px;
        align-items: center;
        background-color: rgb(71, 72, 73);
    }

    #hero-container {
        max-width: 70%;
        margin: 0 auto;
        text-align: center;
    }


    .navigation a:hover {
        background-color: rgb(105, 106, 107);
        color: #ffffff;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        background: rgb(71, 72, 73);
        padding: 0;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .navigation.open {
        display: flex;
    }

    #my-button {
        display: none;
    }

    #my-other-button {
        position: absolute;
        top: 50%;
        left: 25%;
        color: white;
        padding: 20px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    header p {
        margin-bottom: 60px;
    }

    header {
        margin-bottom: 0px;
    }

    /*#logo {}

    h1 {}*/

}