@media screen and (min-width: 1201px) and (max-width: 4000px) {
    #hero-img {
        height: 600px;
        align-items: center;

    }

    #hero-container {
        max-width: 70%;
        margin: 0 auto;
        text-align: center;
    }


    .navigation a:hover {
        color: #ffffff;
    }

    .navigation {
        margin-top: 0px;
        /*new onw*/
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        padding: 0;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .navigation.open {
        display: flex;
    }

    #my-button {
        display: none;
    }

    #my-other-button {
        position: absolute;
        top: 50%;
        left: 25%;
        color: white;
        padding: 20px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    header p {
        margin-bottom: 60px;
    }

    header {
        margin-bottom: 0px;
    }

    /*#logo {}

    h1 {}*/

    .one {
        grid-template-columns: repeat(2, 1fr);
    }

    .three {
        align-items: center;
        grid-template-columns: repeat(4, 1fr);
    }

    hr {

        grid-column: span 2;
    }

    .three h2 {
        grid-column: span 4;
        justify-items: center;
    }

}