@media screen and (min-width: 600px) and (max-width: 1200px) {

    #hero-img {
        height: 600px;
        align-items: center;
        background-color: rgb(71, 72, 73);
    }

    #hero-container {
        max-width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    .navigation a:hover {

        color: #ffffff;
    }

    .navigation {
        margin-top: 0px;
        /*new one*/
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        padding: 0;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .navigation.open {
        display: flex;
    }

    #my-button {
        display: none;
    }

    #my-other-button {
        position: absolute;
        top: 65%;
        left: 25%;
        color: white;
        padding: 20px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    header p {
        margin-bottom: 60px;
    }

    header {
        margin-bottom: 0px;
    }

    .one,
    .three {
        grid-template-columns: repeat(2, 1fr);
    }


    hr {
        grid-column: span 2;
    }

    .three h2 {
        grid-column: span 2;
    }


    .hrv2 {
        grid-column: span 2;
    }

    .gallery img:hover,
    .card-1-1 img:hover {
        opacity: .6;
        transform: scale(1.1);
    }

    .gallery figure {
        position: relative;
        margin: 0;
        overflow: hidden;
    }

    .gallery figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
        margin: 0;
        opacity: 0;
        transition: opacity 0.3s ease;
        font-family: var(--heading-font);
    }

    .gallery figure:hover figcaption {
        opacity: 1;
    }




}