@media screen and (min-width: 600px) {
    main {
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr 1fr));
    }

    .card {
        grid-column: span 2;
        max-width: 100%;
    }
}

@media screen and (min-width: 900px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        grid-column: span 3;
        max-width: 100%;
    }
}