@media screen and (min-width: 600px) {
    h2 {
        text-align: left;
    }
}

@media screen and (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;

    }

    .card {
        grid-column: auto;
        margin: 0 auto;
        max-width: 70%;
    }

    h2 {
        text-align: left;
        grid-column: span 2;
    }

    hr {
        grid-column: span 2;
        /* Make hr span both columns */
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}